body{
    background-image: url(../img/fondomessi.jpg);
    background-size: 100%;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.textoposision{
    display: flex;
  justify-content: flex-end;
}
